pysqlite3-binary
langchain 
langgraph 
langchain_community  
langchain-groq 
langchainhub 
langchain 
langchain_google_genai
langgraph 
wikipedia
python-dotenv
streamlit
chromadb
google
google-generativeai
